
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    position: relative;
    top: 7px;
    left: 30px;
    z-index: 10;
   
}

.logo img {
    height: 105px;
    width: auto;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    color:rgb(223, 61, 180);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #f04e30;
}


body, html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero {
    background-image: url('https://images.unsplash.com/photo-1551892589-865f69869443'); /* Replace with your preferred image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(248, 27, 193, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 600px;
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    padding: 10px 20px;
    background-color: #fb15f3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: rgba(248, 27, 193, 0.5);;
}

.btn.secondary {
    background-color: transparent;
    border: 2px solid white;
}

.btn.secondary:hover {
    background-color: white;
    color: black;
}
.highlight {
    margin-top: 40px;
}

.highlight h3 {
    font-size: 2rem;
    color: #f04e30;
    margin-bottom: 10px;
}

.mission-text {
    font-size: 1.4rem;
    font-weight: bold;
    color: #222;
    line-height: 1.6;
}
